<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article&.title %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @article&.annotation %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @article&.expired_at %>
</p>
