<div class="flex-container">
  <div class="flex-row">
    <h3 class="article-item" id="article-title"><%= @article&.title %></h3>
    <p class="article-item" id="article-annotation"><%= @article&.annotation %></p>
    <p class="article-item" id="article-creation-date"><%= humanized_datetime(@article&.created_at) %></p>

    <br>
    <div class="article-item">
      <%= link_to('Изменить авторскую новость', admin_path) %>
    <div>
  </div>
</div>
