<p id="notice"><%= notice %></p>

<div class="flex-container">
  <div class="flex-row">
    <p class="article-text">
      <strong id="article-title"><%= @article&.title %></strong>
    <p>
    <p class="article-text" id="article-annotation"><%= @article&.annotation %></p>

    <br>
    <p class="article-text" id="article-creation-date"><%= humanized_datetime(@article&.created_at) %></p>
  </div>
</div>
